@import "tailwindcss";

@theme {
  --color-background: #1A2238;
  --color-primary: #800020;
  --color-secondary: #FFD700;
  --color-text: #FFFFFF;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased overflow-hidden select-none;
  }

  #root {
    @apply h-screen w-screen flex flex-col overflow-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}